{% load i18n sekizai_tags cms_tags %}
{% addtoblock "js" %}
<script type="text/javascript">
CMS.$(document).ready(function () {
	new CMS.Placeholder('#cms_placeholder-{{ instance.pk }}', {
		'type': 'plugin',
		'placeholder_id': '{{ instance.placeholder.id }}',
		'plugin_type': '{{ instance.plugin_type }}',
		'plugin_id': '{{ instance.pk }}',
		'plugin_language': '{{ instance.language }}',
		'plugin_parent': '{{ instance.parent_id }}',
		'plugin_order': '{{ instance.plugin_order }}',
		//'plugin_breadcrumb': {{ instance.plugin_breadcrumb }},
		'plugin_restriction': [], // only for nested plugins, see placeholder_toolbar.html
		'urls': {
			'add_plugin': '{% url admin:cms_page_add_plugin %}',
			'edit_plugin': '{% url admin:cms_page_edit_plugin instance.pk %}',
			'move_plugin': '{% url admin:cms_page_move_plugin %}'
		}
	});
});
</script>
{% endaddtoblock %}

<div id="cms_placeholder-{{ instance.pk }}" class="cms_placeholder cms_light">{{ rendered_content }}</div>
