{% load sekizai_tags %}
{% addtoblock "js" %}
<script type="text/javascript">
CMS.$(document).ready(function () {
	new CMS.Placeholder('#cms_placeholder-{{ instance.pk }}', {
		'type': 'plugin',
		'placeholder_id': '{{ instance.placeholder.id }}',
		'placeholder_slot': '{{ instance.placeholder.slot }}', // TODO is this required?
		'plugin_type': '{{ instance.plugin_type }}',
		'plugin_id': '{{ instance.pk }}',
		'plugin_language': '{{ language }}',
		'urls': {
			'edit_plugin': '{{ instance.placeholder.get_changelist_url }}',
			'move_plugin': '{{ instance.placeholder.get_move_url }}',
			'remove_plugin': '{{ instance.placeholder.get_remove_url }}'
		}
	});
});
</script>
{% endaddtoblock %}
<div id="cms_placeholder-{{ instance.pk }}" class="cms_placeholder cms_light">{{ rendered_content }}</div>
<div id="cms_dragholder-{{ instance.pk }}" class="cms_reset cms_light cms_dragholder cms_dragholder-draggable">
	<div class="cms_dragmenu"></div>
	<div class="cms_dragmenu-dropdown">
		<a rel="dialogue" data-text="Are you sure you want to copy this plugin?" href="#">Copy</a>
		<a rel="sideframe" href="{{ instance.placeholder.get_remove_url }}{{ instance.pk }}">Delete</a>
	</div>
	<div class="cms_dragitem"><strong>{{ instance.plugin_type }}</strong> {{ instance.placeholder.slot }}</div>
	<!-- load plugins in plugins -->
</div>