{% load sekizai_tags %}
{% addtoblock "js" %}
<script type="text/javascript">
CMS.$(document).ready(function () {
	new CMS.Placeholder('#cms_placeholder-{{ instance.pk }}', {
		'type': 'plugin',
		'placeholder_id': '{{ instance.placeholder.id }}',
		'placeholder_slot': '{{ instance.placeholder.slot }}', // TODO is this required?
		'plugin_type': '{{ instance.plugin_type }}',
		'plugin_id': '{{ instance.pk }}',
		'plugin_language': '{{ language }}',
		'urls': {
			'edit_plugin': '{{ instance.placeholder.get_changelist_url }}',
			'move_plugin': '{{ instance.placeholder.get_move_url }}',
			'remove_plugin': '{{ instance.placeholder.get_remove_url }}'
		}
	});
});
</script>
{% endaddtoblock %}
<div id="cms_placeholder-{{ instance.pk }}" class="cms_placeholder">
	<div class="cms_reset cms_placeholder-add">Add</div>


	{{ rendered_content }}
</div>