{% load cms_tags i18n  %}
<div id="cms_dragholder-{{ plugin.pk }}" class="cms_reset cms_light cms_dragholder cms_dragholder-draggable">
	<div class="cms_dragmenu"></div>
	<div class="cms_dragmenu-dropdown">
		<span>{% trans "Settings" %}</span>
		<a rel="dialogue" data-text="Are you sure you want to copy this plugin?" href="#">Copy</a>
		<a rel="sideframe" href="{% url admin:cms_page_delete_plugin plugin.pk %}">Delete</a>
		{% plugin_child_classes plugin %}
	</div>
	<div class="cms_dragitem{% if plugin.child_plugins_instances %} cms_dragitem-collapsable{% endif %}"><strong>{{ plugin.plugin_type }}</strong> {{ plugin.placeholder.slot }}</div>

	{% if plugin.child_plugins_instances %}
		{% for child in plugin.child_plugins_instances %}
			{# workaround because include tag does not allow recursive includes #}
			{% with template_name="cms/toolbar/plugin_dragholder.html" %}{% include template_name with plugin=child %}{% endwith %}
		{% endfor %}
	{% endif %}
</div>